* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    a {
        text-decoration: none !important;
    }

    li {
        list-style: none;
    }

    font-family: 'Poppins',
    sans-serif;

    ul {
        margin-bottom: 0 !important;
        padding-left: 0 !important;
    }

    p {
        margin-bottom: 0;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}

nav {
    background-color: $dark-blue;
}
.otherPages{
    background-color: transparent !important;
    box-shadow: 0 0 10px 1px black;
    backdrop-filter: blur(3.5px);
}

.loginPage , .signupPage{
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url(../img/loginBack.jpg);
    @include image;
    @include display;
    #form{
        width: 50%;
        background-color: rgba(255, 255, 255 , 0.6);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 100px;
        gap: 10px;
        box-shadow: 0 0 10px 1px gray;
        backdrop-filter: blur(3.5px);
        input{
            width: 100%;
            margin-bottom: 50px;
        }
    }
}



.button {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid transparent;
    // background-color: transparent;background-color: rgba(240, 248, 255, 0.3);
    backdrop-filter: blur(10.5px);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    color: $dark-blue;
    font-size: 18px;
    font-weight: 500;

    &::before {
        content: "";
        @include display;
        background: $red;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        font-size: 30px;
        font-weight: 600;
        transition: left 0.7s;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        z-index: -1;
    }

    &:hover {
        color: white;

        &::before {
            left: 0;
        }
    }


    button {
        @include display;
    }

    &:hover {
        background-color: $red;
        box-shadow: 0 0 4px 1px snow;
        transition: all 0.5s ease;
    }
}

.button-register{
    color: snow !important;
    &::before{
        background-color: snow;
    }
    &:hover{
        color: $red !important;
    }
}