@import './mixin/mixin';
@import './variable/variable';
@import './reset/reset';

.container {
    max-width: 1400px;
    padding: 0px 32px;
}

body {
    background: url("../img/login.jpg");
    min-height: 100vh;
}

.image {
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto;
    border-radius: 9999px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 9999px;
    }

}

#info,
#logoff {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.mb-5 {
    margin-bottom: 0 !important;
}

#info h5 {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px red;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: $red;
    background: #fff;
}



.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


// -------Right Side---------
.restoranForm {
    display: flex;
    flex-direction: column;
    // width: 400px;
    margin: 0 auto;

    label {
        color: $dark-blue;
        margin-bottom: 2px;
    }

    input {
        margin-bottom: 25px;
        font-size: 18px;
        padding: 5px 10px;
    }

    .displayFile {
        width: 100%;
        @include display(space-between, center);
    }

    input[type="submit"] {
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }

    .saveRestoran:hover {
        transform: scale(1.1);
    }
}

// ------forAll----
.heading {
    color: $red;
}

.plus {
    padding: 0px 5px;
    border: 1px solid transparent;
    background-color: $green;
    color: white;

    &:hover {
        transition: all 0.4s ease;
        background-color: #95a696;
    }
}

.save {
    background-color: $red;
    padding: 5px 20px;
    color: white;
    font-size: 19px;
    border: 1px solid transparent;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;
        opacity: 0.8;
    }
}

.backgroundTheme {
    background-color: rgba(140, 128, 128, 0.3);
    padding: 50px;
    backdrop-filter: blur(3.5px);
    border-radius: 20px;
}



//-------------- Edit Menu--------------
.rounded {
    border-radius: 20px !important;
}

#v-pills-messages {
    // background-color: rgba(140, 128, 128, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px gray;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 6px;
    box-sizing: 9999px;

    th,
    td {
        border: solid 1px gray;
        padding: 10px;
    }

    td {
        // width: 50px;
        padding: 0;

        input {
            width: 100%;
            text-align: center;
            height: 100%;
            padding: 10px 0px;
        }
    }

    thead tr {
        // background-color: aliceblue;

        background-color: rgba(140, 128, 128, 0.3);
        // color: crimson;

    }

    // tbody tr {
    // //     background-color: aliceblue;
    // //     input{
    // //         background-color: aliceblue;
    // //   }
    //     //  text-align: center;
    // }

    td button {
        padding: 10px 20px;
        background: #acacac;
        color: #fff;
    }

    #number {
        font-weight: bold;
    }

    i {
        color: red;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            transition: all 0.5s ease;
            opacity: 0.7;
        }
    }
}

.addTab {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-bottom: 20px;
}

.saveMenu {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 70px;
}


.goPage {
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: 100%;
    transform: translateX(-100%);
    border: 1px solid white;
    width: 250px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 999px;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;

        a {
            color: white;
        }
    }

    a {
        font-size: 18px;
        color: $red;
    }
}

//   -----File Inputu------
.custom-file-upload {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }




@media (min-width: 1200px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}


// modal
.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
    .modal-dialog {
      position: relative;
      margin: auto;
      .modal-content {
        background-color: #fff; 
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        .modal-body{
            margin-top: 20px;
            @include display;
            font-size: 25px;

        }
        .modal-body,
        .modal-footer {
          padding: 20px;
        }
      }
    }
  }
  

  
