@import './mixin/mixin';
@import './variable/variable';
@import './reset/reset';

.displayImage {
    @include display;
    gap: 10px;
    padding: 5px;

    #displayImg {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

// Modal Styles
.modal-container {
    position: fixed;
    // z-index: 9999;
    display: none;
    top: 100px;
    right: 20px;
    width: 400px;
    height: 100px;
    background-color: rgba(47, 239, 40, 0.9);
    border-radius: 8px;
    overflow: hidden;
    animation: slideIn 0.5s forwards;
    backdrop-filter: blur(3.5px);
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #000;
}

h2 {
    margin: 0;
    padding: 20px;
    font-size: 25px;
    font-weight: 500 !important;
    color: white;
    text-shadow: 0 0 10px black;
}

@keyframes slideIn {
    from {
        right: -320px;
    }

    to {
        right: 20px;
    }
}

@keyframes slideOut {
    from {
        right: 20px;
    }

    to {
        right: -320px;
    }
}

body {
    background: url("../img/login.jpg");
    min-height: 100vh;
    // @include image;
}

.image {
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto;
    border-radius: 9999px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 9999px;
    }

}

#info,
#logoff {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.mb-5 {
    margin-bottom: 0 !important;
}

#info h5 {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px red;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: $red;
    background: #fff;
}



.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


// -------Right Side---------
.restoranForm {
    display: flex;
    flex-direction: column;
    // width: 400px;
    margin: 0 auto;

    label {
        color: $dark-blue;
        margin-bottom: 2px;
    }

    input {
        margin-bottom: 25px;
        font-size: 18px;
        padding: 5px 10px;
    }

    .displayFile {
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }

    .addFile {
        margin-top: 12px;
    }

    .imageDivAll {
        display: flex !important;
        gap: 20px;
        flex-wrap: wrap;
    }

    .imageDiv {
        @include display;
        flex-direction: column;
        gap: 5px;

        .display {
            @include display;
            gap: 10px;

            i {
                color: red;
                margin-top: 10px;
                cursor: pointer;

                &:hover {
                    transition: all 0.5s ease;
                    transform: scale(1.1);
                }
            }
        }

        .img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            border: 1px solid;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .mainImageDiv {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .display {
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                color: red;
                margin-top: 10px;
                cursor: pointer;

                &:hover {
                    transition: all 0.5s ease;
                    transform: scale(1.1);
                }
            }

        }

        .img {
            width: 300px;
            height: 200px;
            border-radius: 10px;
            border: 1px solid;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    input[type="submit"] {
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }

    .saveRestoran {
        margin-top: 50px !important;
    }

    .timeDiv {
        display: flex;

        // gap: 20px;
        .time2 {
            margin-left: 20px;
        }

        .time {
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}

.mainName {
    margin-bottom: 10px;
    font-weight: 600;
}

.topName {
    margin-top: 20px;
}

// ------forAll----
.heading {
    color: $red;
}

.plus {
    padding: 0px 5px;
    border: 1px solid transparent;
    background-color: $green;
    color: white;

    &:hover {
        transition: all 0.4s ease;
        background-color: #95a696;
    }
}

.save {
    background-color: $red;
    padding: 5px 20px;
    color: white;
    font-size: 19px;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;
        opacity: 0.8;
        box-shadow: 0 0 10px black;
        transform: scale(1.1);
    }
}

.backgroundTheme {
    background-color: rgba(140, 128, 128, 0.3);
    padding: 50px;
    backdrop-filter: blur(3.5px);
    border-radius: 20px;
}



//-------------- Edit Menu--------------
.rounded {
    border-radius: 20px !important;
}

.editMenu {
    h5 {
        font-weight: 600;
        color: $star;
        text-shadow: 0 0 1px black;
    }
}

#v-pills-messages {
    // background-color: rgba(140, 128, 128, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
}

.table-container {
    overflow-x: scroll;
    max-width: 100%;
    margin-bottom: 25px;
    background-color: rgba(240, 248, 255, 0.7);
    backdrop-filter: blur(3.5px);
}

.scrollable-table {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px gray;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 6px;
    box-sizing: 9999px;

    th,
    td {
        border: solid 1px gray;
        padding: 10px;
    }

    td {
        // width: 100px;
        padding: 0;

        input {
            // width: 100%;
            text-align: center;
            height: 100%;
            padding: 10px 0px;
        }
    }

    thead tr {
        // background-color: aliceblue;

        background-color: rgba(140, 128, 128, 0.3);
        // color: crimson;

    }

    // tbody tr {
    // //     background-color: aliceblue;
    // //     input{
    // //         background-color: aliceblue;
    // //   }
    //     //  text-align: center;
    // }

    td button {
        padding: 10px 20px;
        background: #acacac;
        color: #fff;
    }

    #number {
        font-weight: bold;
    }

    i {
        color: red;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            transition: all 0.5s ease;
            opacity: 0.7;
        }
    }
}

.addTab {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-bottom: 20px;
}

.saveMenu {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


#goPageLink {
    display: block;
    margin-bottom: 0;
    border: 1px solid white;
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 999px;
    margin: 0 auto;
    margin-top: 70px;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;
        color: white;

    }

    a {
        font-size: 18px;
        color: $red;
    }
}

//   -----File Inputu------
.custom-file-upload {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
    transform: scale(0.9);
    transition: all 0.5s ease;
}




@media (min-width: 1200px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}


// modal
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    .modal-dialog {
        position: relative;
        margin: auto;

        .modal-content {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .modal-body {
                margin-top: 20px;
                @include display;
                font-size: 25px;

            }

            .modal-body,
            .modal-footer {
                padding: 20px;
            }
        }
    }
}

// LinkTab
.linkTab {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 20px;
    }

    a {
        margin-bottom: 50px;
        color: blue;

        &:hover {
            color: $red;
            transition: all 0.5s ease;
        }
    }

    .img {
        margin-top: 20px;
        width: 250px;
        height: 250px;
        margin-bottom: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:992px) {
    .restoranForm .timeDiv {
        flex-direction: column;
    }
}

@media screen and (max-width:500px){
    .restoranForm .mainImageDiv .img{
        width:100%;
    }
}