@import './mixin/mixin';
@import './variable/variable';
@import './reset/reset';


body {
    background: linear-gradient(to left, #1d1d1a, #95a696) !important;
    min-height: 100vh;
}

.image {
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto;
    border-radius: 9999px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 9999px;
    }

}

#info,
#logoff {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.mb-5 {
    margin-bottom: 0 !important;
}

#info h5 {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px red;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: $red;
    background: #fff;
}



.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


// -------Right Side---------
.restoranForm {
    display: flex;
    flex-direction: column;
    // width: 400px;
    margin: 0 auto;

    label {
        color: $dark-blue;
        margin-bottom: 2px;
    }

    input {
        margin-bottom: 25px;
        font-size: 18px;
        padding: 5px 10px;
    }

    .displayFile {
        width: 100%;
        @include display(space-between, center);
    }

    input[type="submit"] {
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }

    .saveRestoran:hover {
        transform: scale(1.1);
    }
}

// ------forAll----
.heading {
    color: $red;
}

.plus {
    padding: 0px 5px;
    border: 1px solid transparent;
    background-color: $green;
    color: white;

    &:hover {
        transition: all 0.4s ease;
        background-color: #95a696;
    }
}

.save {
    background-color: $red;
    padding: 5px 20px;
    color: white;
    font-size: 19px;
    border: 1px solid transparent;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;
        opacity: 0.8;
    }
}

.backgroundTheme {
    background-color: rgba(140, 128, 128, 0.3);
    padding: 50px;
    backdrop-filter: blur(3.5px);
    border-radius: 20px;
}



//-------------- Edit Menu--------------
table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px gray;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 6px;

    th,
    td {
        border: solid 1px gray;
        padding: 10px;
    }

    td {
        width: 50px;
        padding: 0;

        input {
            width: 100%;
            text-align: center;
        }
    }

    td button {
        padding: 10px 20px;
        background: #acacac;
        color: #fff;
    }

    #number {
        font-weight: bold;
    }
}

.addTab {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-bottom: 20px;
}

.saveMenu {
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 70px;
}


.goPage {
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: 100%;
    transform: translateX(-100%);
    border: 1px solid white;
    width: 250px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 999px;

    &:hover {
        background-color: $red;
        transition: all 0.5s ease;

        a {
            color: white;
        }
    }

    a {
        font-size: 18px;
        color: $red;
    }
}




@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}