@import '../mixin/mixin';
@import '../variable/variable';
@import '../reset/reset';



#banner.restorans {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
        url(../img/restoran1.jpg);
    @include image;

    // position: fixed;
    // top: 0;
    // left: 0;
    .banner-center {
        @include display;

        #restoranName {
            text-align: center;
            text-shadow: 0 0 10px $red;
            color: snow;
        }
    }
}

//  ------------------------- Menu -------------------------
#menu{
    width: 100%;
    padding: 100px 0px;
    .menu-center{
        width: 100%;
        display: flex;
        flex-direction: column;
.menu-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    .menu-items{
        @include display(flex-start , center);
    }
    .image{
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
    }
} 