* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
* p {
  margin-bottom: 0;
}
* .h1,
* .h2,
* .h3,
* .h4,
* .h5,
* .h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-bottom: 0;
}

a {
  cursor: pointer;
}

nav {
  background-color: #0D0C28;
}

.otherPages {
  background-color: transparent !important;
  box-shadow: 0 0 10px 1px black;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}

.loginPage, .signupPage {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../img/loginBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage #form, .signupPage #form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 100px;
  gap: 10px;
  box-shadow: 0 0 10px 1px gray;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
.loginPage #form input, .signupPage #form input {
  width: 100%;
  margin-bottom: 50px;
}

.button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #0D0C28;
  font-size: 18px;
  font-weight: 500;
}
.button::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F01543;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  transition: left 0.7s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.button:hover {
  color: white !important;
}
.button:hover::before {
  left: 0;
}
.button button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #F01543;
  box-shadow: 0 0 4px 1px snow;
  transition: all 0.5s ease;
}

.button-register {
  color: snow !important;
}
.button-register::before {
  background-color: snow;
}
.button-register:hover {
  color: #F01543 !important;
}

.modal-container {
  position: fixed;
  display: none;
  top: 100px;
  right: 20px;
  width: 400px;
  height: 100px;
  background-color: rgba(47, 239, 40, 0.9);
  border-radius: 8px;
  overflow: hidden;
  animation: slideIn 0.5s forwards;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #000;
}

h2 {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 500 !important;
  color: white;
  text-shadow: 0 0 10px black;
}

@keyframes slideIn {
  from {
    right: -320px;
  }
  to {
    right: 20px;
  }
}
@keyframes slideOut {
  from {
    right: 20px;
  }
  to {
    right: -320px;
  }
}
body {
  background: url("../img/login.jpg");
  min-height: 100vh;
}

.image {
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto;
  border-radius: 9999px;
}
.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9999px;
}

#info,
#logoff {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
}

.mb-5 {
  margin-bottom: 0 !important;
}

#info h5 {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px red;
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #F01543;
  background: #fff;
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.restoranForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.restoranForm label {
  color: #0D0C28;
  margin-bottom: 2px;
}
.restoranForm input {
  margin-bottom: 25px;
  font-size: 18px;
  padding: 5px 10px;
}
.restoranForm .displayFile {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.restoranForm .addFile {
  margin-top: 12px;
}
.restoranForm .imageDivAll {
  display: flex !important;
  gap: 20px;
  flex-wrap: wrap;
}
.restoranForm .imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.restoranForm .imageDiv .display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.restoranForm .imageDiv .display i {
  color: red;
  margin-top: 10px;
  cursor: pointer;
}
.restoranForm .imageDiv .display i:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.restoranForm .imageDiv .img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid;
}
.restoranForm .imageDiv .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.restoranForm .mainImageDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restoranForm .mainImageDiv .display {
  display: flex;
  align-items: center;
  gap: 10px;
}
.restoranForm .mainImageDiv .display i {
  color: red;
  margin-top: 10px;
  cursor: pointer;
}
.restoranForm .mainImageDiv .display i:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.restoranForm .mainImageDiv .img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid;
}
.restoranForm .mainImageDiv .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.restoranForm input[type=submit] {
  width: 200px;
  margin: auto;
  margin-top: 20px;
}
.restoranForm .saveRestoran {
  margin-top: 50px !important;
}
.restoranForm .timeDiv {
  display: flex;
}
.restoranForm .timeDiv .time2 {
  margin-left: 20px;
}
.restoranForm .timeDiv .time {
  margin-top: 10px;
  margin-right: 10px;
}

.mainName {
  margin-bottom: 10px;
  font-weight: 600;
}

.topName {
  margin-top: 20px;
}

.heading {
  color: #F01543;
}

.plus {
  padding: 0px 5px;
  border: 1px solid transparent;
  background-color: #45b649;
  color: white;
}
.plus:hover {
  transition: all 0.4s ease;
  background-color: #95a696;
}

.save {
  background-color: #F01543;
  padding: 5px 20px;
  color: white;
  font-size: 19px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.save:hover {
  background-color: #F01543;
  transition: all 0.5s ease;
  opacity: 0.8;
  box-shadow: 0 0 10px black;
  transform: scale(1.1);
}

.backgroundTheme {
  background-color: rgba(140, 128, 128, 0.3);
  padding: 50px;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  border-radius: 20px;
}

.rounded {
  border-radius: 20px !important;
}

.editMenu h5 {
  font-weight: 600;
  color: #ffb23e;
  text-shadow: 0 0 1px black;
}

#v-pills-messages {
  background-color: rgba(255, 255, 255, 0.6);
}

.table-container {
  overflow-x: scroll;
  max-width: 100%;
  margin-bottom: 25px;
  background-color: rgba(240, 248, 255, 0.7);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}

.scrollable-table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px gray;
  margin: auto;
  text-align: center;
  background-color: white;
  margin-top: 6px;
  box-sizing: 9999px;
}
table th,
table td {
  border: solid 1px gray;
  padding: 10px;
}
table td {
  padding: 0;
}
table td input {
  text-align: center;
  height: 100%;
  padding: 10px 0px;
}
table thead tr {
  background-color: rgba(140, 128, 128, 0.3);
}
table td button {
  padding: 10px 20px;
  background: #acacac;
  color: #fff;
}
table #number {
  font-weight: bold;
}
table i {
  color: red;
  cursor: pointer;
  font-size: 18px;
}
table i:hover {
  transition: all 0.5s ease;
  opacity: 0.7;
}

.addTab {
  margin-left: 100%;
  transform: translateX(-100%);
  margin-bottom: 20px;
}

.saveMenu {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#goPageLink {
  display: block;
  margin-bottom: 0;
  border: 1px solid white;
  width: 250px;
  padding: 10px;
  background-color: white;
  border-radius: 999px;
  margin: 0 auto;
  margin-top: 70px;
  color: black;
  cursor: pointer;
}
#goPageLink:hover {
  background-color: #F01543;
  transition: all 0.5s ease;
  color: white;
}
#goPageLink a {
  font-size: 18px;
  color: #F01543;
}

.custom-file-upload {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff !important;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

@media (min-width: 1200px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal .modal-dialog {
  position: relative;
  margin: auto;
}
.modal .modal-dialog .modal-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal .modal-dialog .modal-content .modal-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.modal .modal-dialog .modal-content .modal-body,
.modal .modal-dialog .modal-content .modal-footer {
  padding: 20px;
}

.linkTab {
  display: flex;
  flex-direction: column;
}
.linkTab h4 {
  margin-bottom: 20px;
}
.linkTab a {
  margin-bottom: 50px;
  color: blue;
}
.linkTab a:hover {
  color: #F01543;
  transition: all 0.5s ease;
}
.linkTab .img {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  margin-bottom: 100px;
}
.linkTab .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .restoranForm .timeDiv {
    flex-direction: column;
  }
}/*# sourceMappingURL=admin.css.map */