@import url("https://fonts.googleapis.com/css?family=Yantramanav:100,300");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
* p {
  margin-bottom: 0;
}
* .h1,
* .h2,
* .h3,
* .h4,
* .h5,
* .h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-bottom: 0;
}

nav {
  background-color: #0D0C28;
}

.otherPages {
  background-color: transparent !important;
  box-shadow: 0 0 10px 1px black;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}

.loginPage, .signupPage {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../img/loginBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage #form, .signupPage #form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 100px;
  gap: 10px;
  box-shadow: 0 0 10px 1px gray;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
.loginPage #form input, .signupPage #form input {
  width: 100%;
  margin-bottom: 50px;
}

.button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #0D0C28;
  font-size: 18px;
  font-weight: 500;
}
.button::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F01543;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  transition: left 0.7s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.button:hover {
  color: white;
}
.button:hover::before {
  left: 0;
}
.button button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #F01543;
  box-shadow: 0 0 4px 1px snow;
  transition: all 0.5s ease;
}

.button-register {
  color: snow !important;
}
.button-register::before {
  background-color: snow;
}
.button-register:hover {
  color: #F01543 !important;
}

nav {
  background-color: #0D0C28;
}

#banner {
  background-image: url(../img/contactBanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
  text-align: center;
}

#ourRestorans {
  background: url("../img/login.jpg");
}
#ourRestorans .ourRestorans-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  gap: 20px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
#ourRestorans .bottomFlip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  border-radius: 20px;
}

.flippingCard {
  width: 400px;
  height: 500px;
  position: relative;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: right center;
  cursor: pointer;
  border-radius: 30px;
}

.card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card figure {
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  margin: 0;
  backface-visibility: hidden;
}

.card .front {
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}
.card .front .img {
  width: 400px;
  height: 200px;
  overflow: hidden;
}
.card .front .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .front #name {
  margin: 20px 10px;
  color: #0D0C28;
  margin: 20px 20px;
  margin-bottom: 0;
}
.card .front .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1px solid #F01543;
  padding: 10px 20px;
}
.card .front .info .p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .front .info .p p {
  color: #0D0C28;
}
.card .front .info .p i {
  color: #F01543;
  font-size: 19px;
}
.card .front .info .p2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #F01543;
}
.card .front:hover img {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.card .front:hover #name {
  color: #F01543;
  transition: all 0.5s ease;
}

.card .back {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(3, 5px);
          backdrop-filter: blur(3, 5px);
  transform: rotateY(180deg);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  position: relative;
  animation: image;
}
.card .back .barcode {
  width: 300px;
  height: 300px;
}
.card .back .barcode img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=ourRestorans.css.map */