* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
* p {
  margin-bottom: 0;
}
* .h1,
* .h2,
* .h3,
* .h4,
* .h5,
* .h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-bottom: 0;
}

.otherPages {
  box-shadow: 0 0 10px 1px black;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}

.loginPage, .signupPage {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../img/loginBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage #form, .signupPage #form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 100px;
  gap: 10px;
  box-shadow: 0 0 10px 1px gray;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
.loginPage #form input, .signupPage #form input {
  width: 100%;
  margin-bottom: 50px;
}

#banner.restorans {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/restoran1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sec2 .top {
  display: flex;
}
#sec2 .bottom {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
#sec2 .bottom .items {
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.3);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
#sec2 .bottom .items .img,
#sec2 .bottom .items h5,
#sec2 .bottom .items p {
  position: relative;
  z-index: 2;
}
#sec2 .bottom .items:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F01543;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  transition: left 0.7s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
#sec2 .bottom .items:hover::before {
  left: 0;
}
#sec2 .bottom .items:hover h5,
#sec2 .bottom .items:hover p {
  color: white;
  transition: all 0.5s ease;
}
#sec2 .bottom .items .img {
  width: 110px;
  height: 110px;
  border-radius: 9999px;
  padding: 20px;
  background-color: white;
}
#sec2 .bottom .items .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec2 .bottom .items h5 {
  font-size: 22px;
  font-weight: 700;
  padding: 15px 0px;
  color: #0D0C28;
}
#sec2 .bottom .items p {
  position: relative;
  color: rgb(79, 77, 77);
}
#sec2 .bottom .items p::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #ffb23e;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

#restaurant.populars {
  background-image: none;
  background-color: #f9fafb;
}
#restaurant.populars #name {
  color: #0D0C28;
  margin-bottom: 0;
}
#restaurant.populars .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1px solid #F01543;
  padding: 10px 20px;
}
#restaurant.populars .info .p {
  display: flex;
  align-items: center;
  gap: 10px;
}
#restaurant.populars .info .p p {
  color: #0D0C28;
}
#restaurant.populars .info .p i {
  color: #F01543;
  font-size: 19px;
}
#restaurant.populars .info .p2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #F01543;
}
#restaurant.populars .info #cost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}
#restaurant.populars .cards:hover #name {
  color: #F01543;
  transition: all 0.5s ease;
}/*# sourceMappingURL=restorans.css.map */