* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none !important;
}
* li {
  list-style: none;
}
* ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
* p {
  margin-bottom: 0;
}
* .h1,
* .h2,
* .h3,
* .h4,
* .h5,
* .h6,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  margin-bottom: 0;
}

nav {
  background-color: #0D0C28;
}

.otherPages {
  background-color: transparent !important;
  box-shadow: 0 0 10px 1px black;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}

.loginPage, .signupPage {
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url(../img/loginBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage #form, .signupPage #form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 100px;
  gap: 10px;
  box-shadow: 0 0 10px 1px gray;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
.loginPage #form input, .signupPage #form input {
  width: 100%;
  margin-bottom: 50px;
}

.button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #0D0C28;
  font-size: 18px;
  font-weight: 500;
}
.button::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F01543;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 600;
  transition: left 0.7s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.button:hover {
  color: white;
}
.button:hover::before {
  left: 0;
}
.button button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #F01543;
  box-shadow: 0 0 4px 1px snow;
  transition: all 0.5s ease;
}

.button-register {
  color: snow !important;
}
.button-register::before {
  background-color: snow;
}
.button-register:hover {
  color: #F01543 !important;
}

#banner.restorans {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/restoran1.jpg);
  background-image: url(../img/blurBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
#banner.restorans .banner-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner.restorans .banner-center #restoranName {
  text-align: center;
  text-shadow: 0 0 10px #F01543;
  color: snow;
}

#contact {
  width: 100%;
  background-color: lightblue;
  padding: 50px 0px;
}
#contact .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

#menu {
  width: 100%;
  padding: 100px 0px;
  background-image: url(../img/blurBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .menu-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#menu .menu-center h2 {
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  color: #0D0C28;
}
#menu .menu-center .menu-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px dashed;
  border-radius: 20px;
  padding: 50px;
  background-color: white;
}
#menu .menu-center .menu-div h3 {
  margin-bottom: 40px;
  font-size: 40px;
}
#menu .menu-center .menu-div .menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: text;
}
#menu .menu-center .menu-div .menu-items:hover .right {
  transition: all 0.5s ease;
  background-color: aliceblue;
}
#menu .menu-center .menu-div .menu-items .image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  padding: 10px 0px;
  cursor: pointer;
}
#menu .menu-center .menu-div .menu-items .image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#menu .menu-center .menu-div .menu-items .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  padding: 20px;
}
#menu .menu-center .menu-div .menu-items .text {
  padding-right: 10px;
  width: 400px;
  text-wrap: wrap;
  word-wrap: break-word;
}
#menu .menu-center .menu-div .menu-items .text #name {
  font-size: 22px;
}
#menu .menu-center .menu-div .menu-items .text p {
  color: gray;
  font-size: 16px;
  margin-top: 20px;
}
#menu .menu-center .menu-div #cost {
  position: relative;
}
#menu .menu-center .menu-div #cost::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  border-bottom: 2px dotted;
  z-index: 2;
}

.mycard {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.mycard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.owl-carousel {
  padding: 50px;
  background-image: url(../img/blurBack.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.owl-dots {
  text-align: center;
  padding-top: 18px;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 6px;
}

.owl-dots button.owl-dot.active {
  background-color: #fda403;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

@media screen and (min-width: 1320px) {
  .container {
    max-width: 1140px !important;
  }
}/*# sourceMappingURL=restorans.css.map */